body {
  background: #fdfdfd; 
}

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 460px;
}

.invalid-feedback {
  display: block; 
}

/* .form {} */

.form__header {
  margin-bottom: 12px;
}

.form__steps-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

/* .form__steps-item {} */

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
}

.step__number {
  background-color: gray;
  color: white;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-bottom: 6px;
  font-weight: bold;
}

.step__title {
  text-transform: capitalize;
  font: 18px;
  font-weight: bold;
}

.step_completed .step__number {
  background-color: green;
}

.step_active .step__number {
  background-color: red;
}

.form__body {
  margin-bottom: 16px;
}

/* .form__footer {} */

.form__controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
}